# .gitignore

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
env/
venv/
.venv/

# Base de datos SQLite
*.sqlite3
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/